<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head">...</th:block>
</head>
<body>
<div th:include="fragments/header :: header">...</div>
<div class="container">

        <div class="row">

            <div class="col-sm-9">

                <div class="well well-sm">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="label label-default pull-right">Contributor</span> <i class="fa fa-github"></i> fifcan <small>http://fifcan.github.io</small></h3>
                        </div>
                        <div class="panel-body">
                            fifcan @ no.mail
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="label label-default pull-right">Contributor</span> <i class="fa fa-github"></i> b3nk3i <small>http://b3nk3i.github.io</small></h3>
                        </div>
                        <div class="panel-body">
                            b3nk3i
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-3">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="label label-default pull-right">About us</span></h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>fifcan</li>
                            <li>b3nk3i</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

</div> <!-- /container -->
</body>
</html>
