<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head">...</th:block>
</head>
<body>
<div class="container">
    <div th:include="fragments/header :: header">...</div>

    <div class="row">
        <div class="col-lg-9">
            <div class="well well-sm">

                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td>...</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-lg-3">
            <button type="button" class="btn btn-primary" th:text="#{general.add}"></button>
        </div>
    </div>

</div> <!-- /container -->

</body>
</html>


