<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head">...</th:block>
</head>
<body>
<div class="container">
<div th:include="fragments/header :: header">...</div>

        <div class="row">

            <div class="col-sm-9">

                <div class="well well-sm">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="label label-default pull-right">23-01-2014</span> <i class="fa fa-github"></i> Geneva JUG <small>Tout sur Java à Genève</small></h3>
                        </div>
                        <div class="panel-body">
                            ...
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-3">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="label label-default pull-right">23-01-2014</span></h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Geneva JUG</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
</div> <!-- /container -->
</body>
</html>
