<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head">...</th:block>
</head>
<body>
<div class="container">
<div th:include="fragments/header :: header">...</div>

        <div class="row">

            <div class="col-sm-9">

                <div class="well well-sm">

                    <div id="userGroupSessions" />

                </div>

            </div>

            <div class="col-sm-3">

                <p>
                    <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#formAddUserGroupSession">
                        Ajouter une session
                    </button>
                </p>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="label label-default pull-right">Options</span></h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <!-- th:field="*{userGroupSession.userGroup}" -->
                            <select class="form-control">
                                <option>Filtrer par JUG</option>
                                <option th:each="userGroup : ${allUserGroups}" th:value="${userGroup.id}" th:text="${userGroup.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="label label-default pull-right">23-01-2014</span></h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Session 1</li>
                            <li>Session 1</li>
                            <li>Session 1</li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="label label-default pull-right">Votes</span></h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Session 1</li>
                            <li>Session 1</li>
                            <li>Session 1</li>
                            <li class="text-muted">Session 1</li>
                            <li class="text-muted">Session 1</li>
                            <li class="text-muted">Session 1</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
</div> <!-- /container -->

<div id="formAddUserGroupSession" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form class="form-horizontal" role="form">

                <div class="panel panel-default panel-no-margin">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ajouter une session</h3>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Titre</label>
                            <div class="col-sm-10">
                                <input name="name" type="text" class="form-control" id="inputTitle" placeholder="Titre" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea name="description" class="form-control" id="inputDescription" placeholder="Description" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputUserGroup" class="col-sm-2 control-label">Java User Group</label>
                            <div class="col-sm-10">
                                <select id="inputUserGroup" name="userGroup" class="form-control">
                                    <option value="">Filtrer par JUG</option>
                                    <option th:each="userGroup : ${allUserGroups}" th:value="${userGroup.id}" th:text="${userGroup.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDate" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                <input name="eventDate" type="date" class="col-sm-3 form-control" id="inputDate" placeholder="Date"/>
                                <input name="eventTime" type="time" class="col-sm-2 form-control" id="inputTime" placeholder="Time"/>
                            </div>
                        </div>

                    </div>

                    <div class="panel-footer text-right">
                        <input type="hidden" name="id" value="" />
                        <button name="operation" value="create" type="submit" class="btn btn-primary">Ajouter</button>
                        <button name="operation" value="update" type="submit" class="btn btn-primary">Modifier</button>
                        <button name="operation" value="remove" type="submit" class="btn btn-primary">Supprimer</button>
                        <button name="operation" value="cancel" type="reset" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    function createBootstrapPanel(){
        var $panel = $('<div />').addClass('panel').addClass('panel-default');
        $panel.append($('<div />').addClass('panel-heading').append($('<h3 class="panel-title"><i class="fa fa-github"></i><span /></h3>')));
        $panel.append($('<div />').addClass('panel-body'));
        return $panel;
    };

    var renderUserGroupSession = function(userGroupSession){
        var $panel = createBootstrapPanel();
        $panel.find('.panel-heading').find("span").text(userGroupSession.name);
        $panel.find('.panel-body').append($('<span />').text(userGroupSession.description));
        $('#userGroupSessions').append($panel);
    };

    function refreshUserGroupSessions(){
        $.ajax({
            url: "/api/userGroupSession"
        }).done(function( data ) {
            $('#userGroupSessions').empty();
            $.each(data, function(i, item){
                renderUserGroupSession(item);
            });
        });
    }

    (function(){

        refreshUserGroupSessions();

        // Request Person by ID AJAX
        $('#formAddUserGroupSession form').submit(function(e) {
            e.preventDefault(); // prevent actual form submit

            var json = $(this).serializeJSON();

            $.ajax({
                url: "/api/userGroupSession",
                type : 'POST',
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                data: json
            }).done(function(){
                $('#formAddUserGroupSession').modal('hide');
                refreshUserGroupSessions();
            });

        });

    })();

</script>

</body>
</html>
