<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head">...</th:block>
</head>
<body>
<div class="container">
<div th:include="fragments/header :: header">...</div>

        <div class="row">

            <div class="col-sm-9">
                <div class="well well-sm">
                    <div id="userGroupSessions" />
                    <div id="userGroupSession" />
                </div>
            </div>

            <div class="col-sm-3">

                <p>
                    <input  class="form-control" type="text" id="search" name="search" value="" placeholder="Rechercher" />
                </p>
                <p>
                    <select class="form-control">
                        <option>Filtrer par JUG</option>
                        <option th:each="userGroup : ${allUserGroups}" th:value="${userGroup.id}" th:text="${userGroup.name}"></option>
                    </select>
                </p>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{future-userGroupSession}"></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="nextSession : ${nextSessions}" th:value="${nextSession.id}" th:text="${nextSession.name}"></li>
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{top-votes-future}"></h3>
                    </div>
                    <ul id="top-votes-future" class="list-group top-votes"/>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{top-votes-past}"></h3>
                    </div>
                    <ul id="top-votes-past" class="list-group top-votes"/>
                </div>

            </div>

        </div>
</div> <!-- /container -->

<div id="formAddUserGroupSession" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form class="form-horizontal" role="form">

                <div class="panel panel-default panel-no-margin">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ajouter une session</h3>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Titre</label>
                            <div class="col-sm-10">
                                <input name="name" type="text" class="form-control" id="inputTitle" placeholder="Titre" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea name="description" class="form-control" id="inputDescription" placeholder="Description" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputUserGroup" class="col-sm-2 control-label">Java User Group</label>
                            <div class="col-sm-10">
                                <select id="inputUserGroup" name="userGroup" class="form-control">
                                    <option value="">Filtrer par JUG</option>
                                    <option th:each="userGroup : ${allUserGroups}" th:value="${userGroup.id}" th:text="${userGroup.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDate" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                <input name="eventDate" type="date" class="col-sm-3 form-control" id="inputDate" placeholder="Date"/>
                                <input name="eventTime" type="time" class="col-sm-2 form-control" id="inputTime" placeholder="Time"/>
                            </div>
                        </div>

                    </div>

                    <div class="panel-footer text-right">
                        <input type="hidden" name="id" value="" />
                        <button name="operation" value="create" type="submit" class="btn btn-primary">Ajouter</button>
                        <button name="operation" value="update" type="submit" class="btn btn-primary">Modifier</button>
                        <button name="operation" value="remove" type="submit" class="btn btn-primary">Supprimer</button>
                        <button name="operation" value="cancel" type="reset" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    (function(){

        // Chargement des sessions
        refreshUserGroupSessions();

        // Chargement des top sessions
        refreshTopVotes();

        // Request Person by ID AJAX
        $('#formAddUserGroupSession form').submit(function(e) {
            e.preventDefault(); // prevent actual form submit

            var json = $(this).serializeJSON();

            $.ajax({
                url: "/api/userGroupSession",
                type : 'POST',
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                data: json
            }).done(function(){
                $('#formAddUserGroupSession').modal('hide');
                refreshUserGroupSessions();
            });

        });

    })();

</script>

</body>
</html>
