<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head">...</th:block>
</head>
<body>
<div class="container">
    <div th:include="fragments/header :: header">...</div>

    <div class="row">

        <div class="col-sm-9">
            <div class="well">
                <h3>Facebook</h3>
                <p>Your facebook account is now linked to this navigation on this website.</p>
                <p>Have fun</p>
                <p><a href="/">Visit home page</a></p>
            </div>
        </div>

        <div class="col-sm-3">

            <p>
                <input  class="form-control" type="text" id="search" name="search" value="" placeholder="Rechercher" />
            </p>


        </div>

    </div>
</div> <!-- /container -->

</body>
</html>
